# IDE - VSCode
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
*.vscode
**.vscode

#IDEA Intellij
**/.idea

# dependencies
*/node_modules
**node_modules

# misc
/.sass-cache
/connect.lock
/coverage
/libpeerconnection.log
npm-debug.log
testem.log
/typings

#env variables
*.env

# bin and obj folder
# **obj
# **bin
